---
- name: Install packages needed to run xbstrap or its deps (Debian)
  become: yes
  become_user: root
  when: ansible_facts['os_family'] == "Debian"
  ansible.builtin.apt:
    install_recommends: yes
    pkg:
      - git
      - build-essential
      - python3
      - python3-dev
      - python3-pip
      - python3-virtualenv
      - moreutils
      - mercurial
      - subversion
- name: Install packages needed to run xbstrap or its deps (SUSE)
  become: yes
  become_user: root
  when: ansible_facts['os_family'] == "Suse"
  ansible.builtin.zypper:
    name:
      - git
      - pattern:devel_C_C++
      - python{{ python_version }}
      - python{{ python_version }}-devel
      - python{{ python_version }}-pip
      - python{{ python_version }}-virtualenv
      - moreutils
      - mercurial
      - subversion

- name: Create xbbs group
  become: yes
  become_user: root
  ansible.builtin.user:
    name: xbbs
    state: present
    system: yes

- name: Create xbbs user
  become: yes
  become_user: root
  ansible.builtin.user:
    name: xbbs
    group: xbbs
    groups: kvm
    comment: "XBstrap Build System"
    state: present
    system: yes
    home: /var/lib/xbbs
    password_lock: 'yes'

- name: Create configuration directory
  become: yes
  become_user: root
  ansible.builtin.file:
    path: /etc/xbbs
    state: directory
    owner: xbbs
    group: xbbs
    mode: 0755

- name: Create virtualenv directory
  become: yes
  become_user: root
  ansible.builtin.file:
    path: '{{ xbbs_virtualenv }}'
    state: directory
    owner: root
    group: root
    mode: 0755

# vim: sw=2 et :
