---
- name: Install WireGuard (Debian)
  become: yes
  become_user: root
  when: ansible_facts['os_family'] == "Debian"
  ansible.builtin.apt:
    pkg:
      - wireguard
- name: Install WireGuard (SUSE)
  become: yes
  become_user: root
  when: ansible_facts['os_family'] == "Suse"
  ansible.builtin.zypper:
    name:
      - wireguard-tools

- name: Enable rp_filter
  become: yes
  ansible.builtin.sysctl:
    name: net.ipv4.conf.all.rp_filter
    value: '1'
    sysctl_set: yes
    state: present
    reload: yes

- name: Install WireGuard configuration file
  become: yes
  become_user: root
  ansible.builtin.template:
    src: wg-managarm0.conf.j2
    dest: /etc/wireguard/wg-managarm0.conf
    owner: root
    group: root
    mode: 0640
  notify: wireguard

# vim: sw=2 et :
