IRC_NETWORK={{ bridge.irc_network }}
IRC_NETWORK_PORT={{ bridge.irc_port }}
IRC_READER_NICK=DiscordBridge|M
MESSAGE_BASE_URL={{ bridge.message_base_url }}
MESSAGE_DIR=/var/www/relay/idb
BRIDGE_COMMUNITY_NAME=managarm
DISCORD_TOKEN={{ lookup('file', 'secrets/bridge/token') }}

{% for item in bridge.channels|dict2items %}
DISCORD_WH_ID_{{ item.key }}={{ lookup('file', 'secrets/bridge/' + item.key + '/whid') }}
DISCORD_WH_TOKEN_{{ item.key }}={{ lookup('file', 'secrets/bridge/' + item.key + '/whtoken') }}
IRC_CHANNEL_{{ item.key }}={{ item.value.irc_channel }}
{% endfor %}
# vim: ft=htmldjango :
