command_endpoint = "{{ xbbs_cfg.command_endpoint }}"
intake = "{{ xbbs_cfg.intake }}"
worker_endpoint = "{{ xbbs_cfg.worker_endpoint }}"
project_base = "/var/lib/xbbs/projects"
build_root = "{{ xbbs_cfg.build_root }}"

[projects.managarm]
git = "https://github.com/managarm/bootstrap-managarm.git"
description = "Pragmatic microkernel-based OS with fully asynchronous I/O"
classes = ["managarm"]
# external access to tools and packages repo, to be used by worker (through
# xbps-install and just a simple tarfile download)
packages = "https://mirrors.managarm.org/currents/x86_64/package_repo"
tools = "https://mirrors.managarm.org/currents/x86_64/tool_repo"
fingerprint = "5d:d2:5b:a6:50:95:c7:b9:a4:10:e4:63:39:d0:b8:c5"
incremental = true
distfile_path = "xbbs/x86_64/"

[projects.managarm_aarch64]
git = "https://github.com/managarm/bootstrap-managarm.git"
description = "Pragmatic microkernel-based OS with fully asynchronous I/O. Now on an ARM near you!"
classes = ["managarm"]
# external access to tools and packages repo, to be used by worker (through
# xbps-install and just a simple tarfile download)
packages = "https://mirrors.managarm.org/currents/aarch64/package_repo"
tools = "https://mirrors.managarm.org/currents/aarch64/tool_repo"
fingerprint = "5d:d2:5b:a6:50:95:c7:b9:a4:10:e4:63:39:d0:b8:c5"
incremental = true
distfile_path = "xbbs/aarch64/"

[projects.managarm_riscv]
git = "https://github.com/managarm/bootstrap-managarm.git"
description = "Pragmatic microkernel-based OS with fully asynchronous I/O. Now on a real RISC CPU!"
classes = ["managarm"]
# external access to tools and packages repo, to be used by worker (through
# xbps-install and just a simple tarfile download)
packages = "https://mirrors.managarm.org/currents/riscv/package_repo"
tools = "https://mirrors.managarm.org/currents/riscv/tool_repo"
fingerprint = "5d:d2:5b:a6:50:95:c7:b9:a4:10:e4:63:39:d0:b8:c5"
incremental = true
distfile_path = "xbbs/riscv/"

# vim: ft=toml :
