coordinator_endpoint = "{{ xbbs_cfg.command_endpoint }}"
github_secret = "{{ lookup("file", "secrets/xbbs/github_secret") }}"

[github]
{% for item in xbbs_cfg.hook_projects|dict2items %}
{# this can be better #}
{{ item.key|tojson }} = [{{ item.value|map('tojson')|join(", ") }}]
{% endfor %}

# vim: ft=toml :
