[Unit]
Description=xbbs web interface
Before=nginx.service

[Service]
User=xbbs
Group=www-data
Environment=XBBS_PROJECT_BASE=/var/lib/xbbs/projects XBBS_COORDINATOR_ENDPOINT={{ xbbs_cfg.command_endpoint }}
ExecStart=/usr/local/bin/gunicorn -b {{ xbbs_cfg.web_bind }} xbbs.web:app

[Install]
WantedBy=default.target
