[Unit]
Description=xbbs webhooks handler
Before=nginx.service

[Service]
User=xbbs
Group=xbbs
ExecStart=/usr/local/bin/gunicorn -b {{ xbbs_cfg.webhook_bind }} xbbs.webhooks:app

[Install]
WantedBy=default.target
