#!/bin/sh
# {{ ansible_managed }}

redownload() {
	curl -LO https://repos.managarm.org/buildenv/managarm-buildenv.tar.gz
}

set -xe
xbhome={{ xbbs_cfg.xbstrap_home | quote }}
cd "$xbhome"
mkdir -p dls
cd dls
curl -LO https://repos.managarm.org/buildenv/managarm-buildenv.sum

# if the thing fails to check, redownload, if that works but the sum is still
# wrong, retry
attempt=0
until sha256sum -c managarm-buildenv.sum; do
	sleep "$attempt"
	if [ "$attempt" -gt 2 ]; then
		printf '%s\n' 'failed to download'
		exit 1
	fi
	redownload
	: "$((attempt+=1))"
done

cd /var/lib/cbuildrt
tempdir="$(mktemp -dp .)"
chmod 755 "$tempdir"

(
	cd "$tempdir"
	tar xf "$xbhome"/dls/managarm-buildenv.tar.gz \
		--strip-components=1 -p
)

exec 4>/var/lib/cbuildrt/managarm-buildenv.cbrt_lock
flock 4
echo "lock acquired, unpacking..."

rm -rf managarm-buildenv  # nuke old dir
mv "$tempdir" managarm-buildenv
