# {{ ansible_managed }} -*- conf-toml -*-
job_endpoint = "{{ xbbs_cfg.job_endpoint }}"
capabilities = [{{ '"kvm",' if ansible_facts.has_kvm }} {{'"fuse",' if ansible_facts.has_fuse }} {{'"test-images",' if should_test_xbbs_images }} {{'"builder",' if should_build_xbbs_packages }}]

# vim: ft=toml :
