# {{ ansible_managed }} -*- conf-toml -*-
coordinator_url = "{{ xbbs_cfg.coordinator_url }}"
work_root = "/var/lib/xbbs/tmp/"
capabilities = [{{ '"kvm",' if ansible_facts.has_kvm }} {{'"fuse",' if ansible_facts.has_fuse }} {{'"test-images",' if should_test_xbbs_images }} {{'"builder",' if should_build_xbbs_packages }} {{'"heavy",' if should_build_heavy_packages }}]

# vim: ft=toml :
