[Unit]
Description=xbbs worker

[Service]
User=xbbs
Group=xbbs
ExecStart=/bin/sh -xec '. '{{ xbbs_virtualenv|quote }}/bin/activate'; exec xbbs-worker'
CacheDirectory=xbbs xbbs/xbstrap
Environment=XBSTRAP_HOME={{ xbbs_cfg.xbstrap_home }} XBSTRAP_CACHE_DIR=%C/xbbs/xbstrap

SupplementaryGroups=kvm

[Install]
WantedBy=default.target
