[Unit]
Description=xbbs worker

[Service]
User=xbbs
Group=xbbs
ExecStart=/bin/sh -xec '. '{{ xbbs_virtualenv|quote }}/bin/activate'; exec xbbs-worker'
Environment=XBSTRAP_HOME={{ xbbs_cfg.xbstrap_home }}

SupplementaryGroups=kvm

[Install]
WantedBy=default.target
