# {{ ansible_managed }}
{% import 'nginx_macros.j2' as h %}
server {
	listen 443 ssl http2;
	server_name docs.managarm.org;

	root /var/www/docs;
	autoindex off;

	{{ h.ssl_keys("docs.managarm.org") }}
}
