# {{ ansible_managed }}
{% import 'nginx_macros.j2' as h %}
server {
	listen 443 ssl http2;
	server_name relay.managarm.org;

	location /idb/ {
		proxy_redirect http:// https://;
		proxy_pass     http://localhost:8113/;
	}

	location / {
		return 404;
	}

	{{ h.ssl_keys("relay.managarm.org") }}
}
