# {{ ansible_managed }}
{% import 'nginx_macros.j2' as h %}
server {
	listen 443 ssl http2;
	server_name docs.managarm.org;

	root /var/www/docs;

	location /hel-api/ {
		autoindex on;
		break;
	}

	location /handbook/ {
		autoindex on;
		break;
	}

	location = / {
		return 301 https://$host/handbook/;
	}

	{{ h.ssl_keys("docs.managarm.org") }}
}
